<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Plant Photo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
</head>
<body>
    <h1 class="title">Add Your Plant Photo</h1>
    <form class="file-upload-form">
        <label for="file" class="file-upload-label">
            <div class="file-upload-design">
                <svg viewBox="0 0 640 512" height="1em">
                    <!-- SVG content -->
                </svg>
                <p>Drag and Drop</p>
                <p>or</p>
                <span class="browse-button">Browse file</span>
            </div>
            <input id="file" type="file" />
        </label>
    </form>
</body>
</html>
