<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We Plant - Let's Plant Together</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="full-page">
        <div class="sub-page">
            <div class="navigation-bar">
                <div class="logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <div class="form-box">
                        <div class="form">
                            <form class="login-form" action="{{ url_for('login') }}" method="POST">
                                <center><h1 class="main-heading">Login</h1></center>
                                <input type="text" name="email" placeholder="Email" />
                                <input type="password" name="password" placeholder="Password" />
                                <button type="submit">LOGIN</button>
                                <p class="message">Not Registered? <a href="{{ url_for('register') }}">Register Now</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="text">Green Tomorrow Starts Today<br><br>Plant a Tree, Change The World</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
